
.profile_img {
  height: auto;
  margin-right: 15px !important;
  border-radius: 2px;
}

.ui.menu {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.fa-book,
.fa-paper-plane {
  margin-right: 7px;
}

.my-books {
  margin: 20px;
}
.from-list {

  &:hover {
    background-color: #48d09b
  }
}
.by-list {
  transition: 0.15s ease-in-out;
  &:hover {
    background-color: #F06560;
    
  }
}
.book-card {
  -webkit-box-shadow: 0px 11px 21px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 21px -4px rgba(0, 0, 0, 0.75);
  height: 220px !important;
  margin-bottom: 30px;
}

.book-cover {
  margin: 15px;
  height: 220px;
  width: 150px;
  float: left;
  position: relative;
  overflow: hidden;
  &:hover .overlay,&:hover .overlay-request {
    opacity: 0.7;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #ED4337;
  display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF8F8;
    font-size: 100px;
}
.overlay-request {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #3366CC;
  display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF8F8;
    font-size: 100px;
}
.jumbotron {
  height: 45vh;
  width: 100%;
  background-color: #48d09b;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF8F8;
}

.jumbo-404 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.jumbo-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 21px;
  }
}

.jumbo-404-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 21px;
  }
}

.frontpage {
  margin-top: 15px;
  .features-list {
    margin-bottom: 55px !important;
  }
  h4 {
    font-weight: normal;
    a {
      color: #555;
      &hover {
        text-decoration: none;
      }
    }
  }
}

.logo {
  color: black;
   :hover {
    text-decoration: none;
  }
}